<h1> QRT Grand Data Challenge

<h2> 1. Dataset overview and imports

In [3]:
import numpy as np
import pandas as pd

print('Imports completed')

Imports completed

In [17]:
X_train = pd.read_csv('data/X_train.csv')
X_test = pd.read_csv('data/X_test.csv')
y_train = pd.read_csv('data/y_train.csv')
sample = pd.read_csv('data/sample_submission.csv')

In [4]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180245 entries, 0 to 180244
Data columns (total 44 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ROW_ID              180245 non-null  int64
 1   TS                  180245 non-null  object
 2   ALLOCATION          180245 non-null  object
 3   RET_20              180245 non-null  float64
 4   RET_19              180245 non-null  float64
 5   RET_18              180245 non-null  float64
 6   RET_17              180245 non-null  float64
 7   RET_16              180245 non-null  float64
 8   RET_15              180245 non-null  float64
 9   RET_14              180245 non-null  float64
 10  RET_13              180245 non-null  float64
 11  RET_12              180245 non-null  float64
 12  RET_11              180245 non-null  float64
 13  RET_10              180245 non-null  float64
 14  RET_9               180245 non-null  float64
 15  RET_8               180245 non-null  float64
 16  RET_7               180245 non-null  float64
 17  RET_6               180245 non-null  float64
 18  RET_5               180245 non-null  float64
 19  RET_4               180245 non-null  float64
 20  RET_3               180245 non-null  float64
 21  RET_2               180245 non-null  float64
 22  RET_1               180245 non-null  float64
 23  SIGNED_VOLUME_20    180245 non-null  float64
 24  SIGNED_VOLUME_19    180245 non-null  float64
 25  SIGNED_VOLUME_18    180245 non-null  float64
 26  SIGNED_VOLUME_17    180245 non-null  float64
 27  SIGNED_VOLUME_16    180245 non-null  float64
 28  SIGNED_VOLUME_15    180245 non-null  float64
 29  SIGNED_VOLUME_14    180245 non-null  float64
 30  SIGNED_VOLUME_13    180245 non-null  float64
 31  SIGNED_VOLUME_12    180245 non-null  float64
 32  SIGNED_VOLUME_11    180245 non-null  float64
 33  SIGNED_VOLUME_10    180245 non-null  float64
 34  SIGNED_VOLUME_9     180245 non-null  float64
 35  SIGNED_VOLUME_8     180245 non-null  float64
 36  SIGNED_VOLUME_7     180245 non-null  float64
 37  SIGNED_VOLUME_6     180245 non-null  float64
 38  SIGNED_VOLUME_5     180245 non-null  float64
 39  SIGNED_VOLUME_4     180245 non-null  float64
 40  SIGNED_VOLUME_3     180245 non-null  float64
 41  SIGNED_VOLUME_2     180245 non-null  float64
 42  SIGNED_VOLUME_1     180245 non-null  float64
 43  AVG_DAILY_TURNOVER  180245 non-null  float64
dtypes: float64(41), int64(1), object(2)
memory usage: 60.5+ MB

In [8]:
X_train.describe()

,ROW_ID,RET_20,RET_19,RET_18,RET_17,RET_16,RET_15,RET_14,RET_13,RET_12,...,SIGNED_VOLUME_9,SIGNED_VOLUME_8,SIGNED_VOLUME_7,SIGNED_VOLUME_6,SIGNED_VOLUME_5,SIGNED_VOLUME_4,SIGNED_VOLUME_3,SIGNED_VOLUME_2,SIGNED_VOLUME_1,AVG_DAILY_TURNOVER
count,180245.000000,180245.000000,180245.000000,180245.000000,180245.000000,180245.000000,180245.000000,180245.000000,180245.000000,180245.000000,...,180245.000000,180245.000000,180245.000000,180245.000000,180245.000000,180245.000000,180245.000000,180245.000000,180245.000000,180245.000000
mean,90122.000000,0.000049,0.000047,0.000048,0.000044,0.000046,0.000047,0.000048,0.000051,0.000047,...,0.346875,0.346634,0.345756,0.345852,0.346303,0.346012,0.345476,0.347039,0.312530,0.090553
std,52032.393972,0.003219,0.003221,0.003218,0.003210,0.003224,0.003230,0.003230,0.003232,0.003236,...,1.459649,1.457869,1.456189,1.456412,1.451778,1.451993,1.453936,1.455624,1.258024,0.211366
min,0.000000,-0.034057,-0.033873,-0.033873,-0.033873,-0.033880,-0.033880,-0.033880,-0.033880,-0.033868,...,-67.664980,-67.664980,-67.664980,-67.664980,-67.664980,-67.664980,-67.664980,-67.664980,-45.866750,0.000060
25%,45061.000000,-0.001297,-0.001297,-0.001299,-0.001302,-0.001301,-0.001301,-0.001299,-0.001296,-0.001300,...,-0.622953,-0.622107,-0.621620,-0.621587,-0.623241,-0.624514,-0.626985,-0.631204,-0.500096,0.004642
50%,90122.000000,0.000036,0.000035,0.000036,0.000034,0.000033,0.000034,0.000036,0.000036,0.000033,...,0.746502,0.745122,0.744565,0.745393,0.746206,0.747261,0.747909,0.752970,0.632397,0.019241
75%,135183.000000,0.001394,0.001391,0.001393,0.001390,0.001391,0.001396,0.001397,0.001398,0.001395,...,1.106023,1.105206,1.103555,1.103333,1.104396,1.104378,1.104410,1.106166,0.975190,0.058259
max,180244.000000,0.038305,0.038305,0.038199,0.038199,0.038199,0.038199,0.038199,0.038199,0.038199,...,74.096560,74.096560,74.096560,74.096560,45.691677,45.691677,45.463356,45.463356,46.314335,1.580719

In [9]:
X_train.describe(include='O')

               TS     ALLOCATION
count      180245         180245
unique       2773             65
top     DATE_0001  ALLOCATION_01
freq           65           2773

In [10]:
X_train.head()

,ROW_ID,TS,ALLOCATION,RET_20,RET_19,RET_18,RET_17,RET_16,RET_15,RET_14,...,SIGNED_VOLUME_9,SIGNED_VOLUME_8,SIGNED_VOLUME_7,SIGNED_VOLUME_6,SIGNED_VOLUME_5,SIGNED_VOLUME_4,SIGNED_VOLUME_3,SIGNED_VOLUME_2,SIGNED_VOLUME_1,AVG_DAILY_TURNOVER
0,0,DATE_0001,ALLOCATION_01,-0.002477,0.004826,0.005374,-0.001688,-0.000152,-0.000685,-0.002217,...,-1.016154,-1.011450,-1.171714,-0.729594,-1.208138,-1.215123,-0.848346,-0.642461,-0.203447,0.054324
1,1,DATE_0001,ALLOCATION_02,0.006863,-0.005265,-0.004249,0.002686,-0.002638,0.003056,0.002712,...,0.896098,1.429419,0.946527,1.059767,0.988289,0.956915,0.943508,0.124168,0.081083,0.015669
2,2,DATE_0001,ALLOCATION_03,-0.005535,0.008541,0.005360,-0.002491,0.004679,-0.000848,-0.007197,...,-0.889142,-0.939257,-0.980370,-0.863196,-0.839662,-0.882459,-1.172723,-0.863937,-0.695998,0.057961
3,3,DATE_0001,ALLOCATION_04,0.003178,-0.001352,-0.004051,-0.001841,-0.005659,0.000627,0.006686,...,-1.788263,-0.807971,-1.587942,-0.042083,-1.356051,-1.007006,-1.821786,-0.455660,-1.090989,0.096004
4,4,DATE_0001,ALLOCATION_05,0.003359,-0.003349,-0.005460,0.000416,-0.003533,0.000913,0.005088,...,0.326148,1.013100,0.362135,0.774670,0.370484,-0.132558,-0.417645,-1.284208,-1.382900,0.005816

In [12]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7735 entries, 0 to 7734
Data columns (total 44 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ROW_ID              7735 non-null   int64
 1   TS                  7735 non-null   object
 2   ALLOCATION          7735 non-null   object
 3   RET_20              7735 non-null   float64
 4   RET_19              7735 non-null   float64
 5   RET_18              7735 non-null   float64
 6   RET_17              7735 non-null   float64
 7   RET_16              7735 non-null   float64
 8   RET_15              7735 non-null   float64
 9   RET_14              7735 non-null   float64
 10  RET_13              7735 non-null   float64
 11  RET_12              7735 non-null   float64
 12  RET_11              7735 non-null   float64
 13  RET_10              7735 non-null   float64
 14  RET_9               7735 non-null   float64
 15  RET_8               7735 non-null   float64
 16  RET_7               7735 non-null   float64
 17  RET_6               7735 non-null   float64
 18  RET_5               7676 non-null   float64
 19  RET_4               7735 non-null   float64
 20  RET_3               7735 non-null   float64
 21  RET_2               7735 non-null   float64
 22  RET_1               7735 non-null   float64
 23  SIGNED_VOLUME_20    7735 non-null   float64
 24  SIGNED_VOLUME_19    7735 non-null   float64
 25  SIGNED_VOLUME_18    7735 non-null   float64
 26  SIGNED_VOLUME_17    7735 non-null   float64
 27  SIGNED_VOLUME_16    7735 non-null   float64
 28  SIGNED_VOLUME_15    7735 non-null   float64
 29  SIGNED_VOLUME_14    7735 non-null   float64
 30  SIGNED_VOLUME_13    7735 non-null   float64
 31  SIGNED_VOLUME_12    7735 non-null   float64
 32  SIGNED_VOLUME_11    7735 non-null   float64
 33  SIGNED_VOLUME_10    7735 non-null   float64
 34  SIGNED_VOLUME_9     7735 non-null   float64
 35  SIGNED_VOLUME_8     7735 non-null   float64
 36  SIGNED_VOLUME_7     7735 non-null   float64
 37  SIGNED_VOLUME_6     7676 non-null   float64
 38  SIGNED_VOLUME_5     7735 non-null   float64
 39  SIGNED_VOLUME_4     7735 non-null   float64
 40  SIGNED_VOLUME_3     7735 non-null   float64
 41  SIGNED_VOLUME_2     7735 non-null   float64
 42  SIGNED_VOLUME_1     7735 non-null   float64
 43  AVG_DAILY_TURNOVER  7735 non-null   float64
dtypes: float64(41), int64(1), object(2)
memory usage: 2.6+ MB

In [13]:
X_test.describe()

,ROW_ID,RET_20,RET_19,RET_18,RET_17,RET_16,RET_15,RET_14,RET_13,RET_12,...,SIGNED_VOLUME_9,SIGNED_VOLUME_8,SIGNED_VOLUME_7,SIGNED_VOLUME_6,SIGNED_VOLUME_5,SIGNED_VOLUME_4,SIGNED_VOLUME_3,SIGNED_VOLUME_2,SIGNED_VOLUME_1,AVG_DAILY_TURNOVER
count,7735.000000,7735.000000,7735.000000,7735.000000,7735.000000,7735.000000,7735.000000,7735.000000,7735.000000,7735.000000,...,7735.000000,7735.000000,7735.000000,7676.000000,7735.000000,7735.000000,7735.000000,7735.000000,7735.000000,7735.000000
mean,184112.000000,-0.000031,-0.000075,-0.000023,0.000016,0.000115,0.000119,0.000010,0.000065,-0.000054,...,0.391035,0.400705,0.372728,0.391833,0.368366,0.416738,0.382572,0.422824,0.291271,0.086437
std,2233.046499,0.003970,0.003473,0.002951,0.003063,0.003038,0.003591,0.003187,0.003710,0.003298,...,1.309588,1.466399,1.299512,1.321934,1.350420,1.298961,1.323287,1.299067,1.014690,0.217977
min,180245.000000,-0.069293,-0.029015,-0.029395,-0.029063,-0.021838,-0.033068,-0.025319,-0.029438,-0.023345,...,-11.636165,-48.806396,-12.053021,-10.466323,-19.391768,-10.787054,-16.648079,-9.743671,-7.725879,0.000154
25%,182178.500000,-0.001621,-0.001674,-0.001545,-0.001514,-0.001386,-0.001472,-0.001562,-0.001540,-0.001597,...,-0.539940,-0.575735,-0.536445,-0.572215,-0.616311,-0.588531,-0.578938,-0.542556,-0.385317,0.004717
50%,184112.000000,-0.000035,-0.000007,-0.000013,0.000014,0.000092,0.000003,-0.000017,0.000003,-0.000033,...,0.793514,0.813243,0.786609,0.810943,0.809134,0.839687,0.806879,0.805861,0.568110,0.016478
75%,186045.500000,0.001549,0.001553,0.001511,0.001493,0.001639,0.001540,0.001530,0.001547,0.001478,...,1.118323,1.115314,1.101853,1.143613,1.096189,1.144513,1.127580,1.115669,0.879886,0.044575
max,187979.000000,0.047968,0.025006,0.020434,0.023931,0.019229,0.037660,0.027331,0.032316,0.024474,...,10.227108,23.734669,8.011360,8.795315,10.373502,19.734356,9.067154,10.373459,6.319981,1.527174

In [14]:
X_test.describe(include='O')

               TS     ALLOCATION
count        7735           7735
unique        119             65
top     DATE_2774  ALLOCATION_01
freq           65            119

In [16]:
X_test.head(70)

,ROW_ID,TS,ALLOCATION,RET_20,RET_19,RET_18,RET_17,RET_16,RET_15,RET_14,...,SIGNED_VOLUME_9,SIGNED_VOLUME_8,SIGNED_VOLUME_7,SIGNED_VOLUME_6,SIGNED_VOLUME_5,SIGNED_VOLUME_4,SIGNED_VOLUME_3,SIGNED_VOLUME_2,SIGNED_VOLUME_1,AVG_DAILY_TURNOVER
0,180245,DATE_2774,ALLOCATION_01,-0.006869,-0.001703,-0.003348,-0.003129,-0.003368,-0.002515,-0.001182,...,1.467264,1.114890,1.227472,0.835403,1.571033,0.946056,1.691493,3.561658,0.038297,0.010310
1,180246,DATE_2774,ALLOCATION_02,-0.002409,-0.000763,0.001349,-0.002069,-0.000147,0.002263,-0.004348,...,0.212862,0.571286,0.711297,0.815702,-0.102490,0.969315,1.738142,5.400385,2.127508,0.013252
2,180247,DATE_2774,ALLOCATION_03,-0.004936,-0.001041,-0.004108,-0.002354,-0.003627,0.000263,0.001072,...,1.165160,1.004918,1.159257,1.110129,1.473592,1.013560,1.622486,2.346189,0.676293,0.013975
3,180248,DATE_2774,ALLOCATION_04,-0.008992,-0.000644,0.001352,-0.004524,-0.004002,-0.004404,0.000524,...,1.557001,1.156245,1.688199,0.553323,2.060668,0.746113,2.300634,5.564923,-0.637974,0.017026
4,180249,DATE_2774,ALLOCATION_05,-0.002797,-0.001686,0.002453,-0.000645,0.000615,-0.000624,-0.004374,...,0.135133,0.115105,0.344619,0.312612,0.932051,0.335749,1.021416,2.351529,0.030891,0.006701
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,180310,DATE_2775,ALLOCATION_01,0.001492,0.003836,-0.002736,0.000867,0.001361,-0.003420,0.000498,...,1.620890,1.752802,1.987774,3.717221,1.969099,1.786482,2.277948,2.236189,1.574036,0.039296
66,180311,DATE_2775,ALLOCATION_02,-0.001004,0.000786,0.001672,-0.004822,0.000780,0.005752,-0.000114,...,2.123775,2.491327,3.982524,1.628860,1.141928,1.302914,1.949023,0.831566,1.466624,0.015080
67,180312,DATE_2775,ALLOCATION_03,0.001220,0.005028,-0.000982,0.002371,0.000495,-0.003739,-0.000054,...,1.055995,1.256934,1.335385,2.569958,1.367763,1.244728,1.655826,1.747727,1.318365,0.041072
68,180313,DATE_2775,ALLOCATION_04,0.000963,0.003119,-0.003957,-0.000383,0.001816,0.000248,0.002078,...,2.086635,1.718470,1.658662,3.006546,2.007813,1.781856,1.714665,1.876948,1.313433,0.059018
69,180314,DATE_2775,ALLOCATION_05,-0.002039,0.000873,0.000333,-0.002781,-0.002214,0.001624,-0.001566,...,-0.401089,-1.068894,-0.113390,-2.140647,-0.421680,-0.885342,-0.973973,-1.081848,-0.090448,0.006837